<div class="addtask-wrapper" (ngSubmit)="onSubmit()">
  <form action="" class="form">
    <input class="task-input" type="text" name="title" placeholder="Add a task" [(ngModel)]="title" />
    <button class="addbtn" type="submit" value="submit" (click)="onSubmit()">
      <div class="inner-button">
        <svg
          class="svg-add"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="plusicon"
            d="M12 5V19"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            class="plusicon"
            d="M5 12H19"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        
      </div>
    </button>
  </form>
</div>
