<div class="itemwrapper" [ngClass]="setClasses()">
  <div>
    <input type="checkbox" />
    <p class="itemtext">{{ todo.title }}</p>
  </div>
  <button class="deletebtn">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="removeitem" d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="removeitem" d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
  </button>
</div>
