
.itemwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FBFBFB;
    height: 60px;
    margin-bottom: 28px;
}

.itemwrapper:hover {
    border-radius: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
}

.itemtext {
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
}

.deletebtn {
    border: none;
    background-color: #FBFBFB;
    margin-right: 10px;
    border-radius: 50%;
}

.removeitem {
    stroke: #E12D45;
    background-color: none;
}

.svg-text-wrapper {
    display: flex;
    align-items: center;
}

.svg-check {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-check:hover {
    background: #7512F4;
}

.svg-check:hover .svg-check-line {
    stroke: white
}

.hidden {
    display: none;
}

.itemwrapper:hover .hidden {
    display: inline-block;
  }

/* needs to be added*/
.is-complete {
    text-decoration: line-through;
    /* background-color: yellowgreen; */
    color: #757575;
}

.is-complete:hover {
    box-shadow: none;
}
